body {
	background-color:#CEB2D6
}

h1 {
	color:#8C52FF;
	text-align:left;
}

.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width:500px;
	  height:250px;
}

.navigation {
	list-style:none;
	margin:0;
	
	background:#8C52FF;
	
	display:flex;
	
	flex-flow:row wrap;
	justify-content:flex-end;
}

/* unvisited link */
a:link {
  color:white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:#8C52FF;
  text-decoration: none;
}

/* selected link */
a:active {
  color:white;
  text-decoration: none;
}
